<%- include("partials/header.ejs") %>

<h1 class="blog-heading">About Us</h1>

<div class="blog-container">
<p><a href="https://fahnartezan.com/">FAHN ARTEZAN</a> is a startup organisation producing home made and hand-made products. It is made by artists who designand develop the products without use of mass manufacturing machines.
    There is no standard “look” for handmade jewellery (Neck chains, key chains), clocks, miniature items etc.
    It can range from simple wire wrapped pendants and bracelets to intricate designs that take hours or days and skilled techniques to finish.

    <p>A portion of the profit from this business is reserved and contributed in the field of education for poor, orphan students.</p>
</p>
</div>

<%- include("partials/footer.ejs") %>