<%- include("partials/header.ejs") %>

<div class="blog-container">
    <h1 class="blog-heading">Contact Us</h1>

<p>
    We're here to help! If you have any questions, concerns, or need assistance with your ticket purchase, please don't hesitate to reach out to us. You can contact our helpdesk at +91 8867208669 or email us at [your-email@example.com]. Our team is available to provide support and ensure you have the best experience possible. We look forward to hearing from you!
</p>

</div>
<%- include("partials/footer.ejs") %>