<%- include("partials/header.ejs") %>

<style>
    ul {
  list-style-type: none;
}

</style>

<div class="full-view learn-container">
<p>As we are launching our brand <b>FAHN ARTEZAN</b> and the products, we have organised events </p>
    <p><b>FAHNIESTA</b> - on <b>6-July-2024</b></p>
    <p>Time: from 5pm onwards</p>
    
    <h4>Guest celebrities are</h4>
    <ul>
        <li>Rocking Star <b>YASH</b></li>
        <li> <b>Mr. Faisu</b> social media Star</li>
        <li> <b>⁠Mr. Munawar Faruqui</b> Standup comedian and Winner of Bigboss.</li>
    </ul>
    <h4>Live performances by: </h4>
    <ul>
        <li> <b>⁠WISH</b>,  The band group</li>
        <li>⁠Dj <b>PRO brothers</b></li>
    </ul>
    
    <p>Venue: Jayamahal Palace, Bengaluru.</p>
</div>


<%- include("partials/footer.ejs") %>
